Library
Library/*
*.csproj
*.unityproj
*.sln
*.userprefs
Temp
obj
/*.suo
Assets/StreamingAssets/Music/
Assets/StreamingAssets/Music.meta
Xcode
Xcode/*
Assets/Resources/cache.xml
Assets/Resources/cache.xml.meta
.vs
Thumbs.db
Thumbs.db.meta
/.idea/
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
.vscode/
Assets/Art/Content/**/*.prefabData.meta
Assets/Art/Content/**/*.mesh.fbx.meta
Assets/Art/Content/**/*.coll.fbx.meta

#FMOD
fmod_editor.log
Assets/Plugins/FMOD/Cache
Assets/Plugins/FMOD/Cache.meta
Assets/GeneratedLocalRepo/
Assets/GeneratedLocalRepo.meta
/Builds/
*.apk
